
<head>
    
</head>
<section class ="sec">
    <div class="hero-text">
        <div >
            <div>
                <p style="line-height: 1.5em;">Family Owned</p>
                <h1>artisanal pizza</h1>
            </div>
            
            <button type="button" routerLink="products" style="font-family: 'Satisfy', cursive;background-color:rgb(235, 16, 16); font-weight: bold;" class="btn btn-danger"> Order Now</button>
        </div>
        
    </div>
    
</section>

<div class="panel" style="height:100vh">
    <div class="row" style="margin-right:0%">
      <div class="col-lg about" style="height:50%">
        <h1 style="color:white;font-size: 4em;">About Us</h1>
        <p style="color:white; padding-top: 1.5em; line-height: 2em; font-family: 'Handlee', cursive;">
            Granted the opportunity to try recipes spanning back generations through his parents
            cooking, 
            Chef Valente discovered his passion for cooking and baking. This passion is what lead
            to the culmination of years of hard work perfecting recipies, and we can't wait 
            to share them with you.  
        </p>
      </div>
      <div class="col panel-image" style="z-index: 1;" >
        
      </div>
    </div>

</div>
    




